/*------------------------- PROPIEDADES ---------------------*/
/*------------------------- COLORES -------------------------*/
:root {
    --dark-purple: #1f1f37;
    /*31, 31, 55*/
    --purple: #36354f;
    /*54, 53, 79*/
    --blue-purple: #6262f0;
    --aqua: #19edd0;
    --light-aqua: #f5fffe;
    --gray: #707070;
    --light-gray: #f0f5f9;
    --light-blue: #f6fdff;
    --white: #ffffff;
}

/*------------------------- ESTILOS GLOBALES ----------------*/
html,
body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    font-size: 14px;
}

body {
    color: var(--dark-purple);
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    margin: 1rem;
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    margin: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}

a {
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    font-size: 1rem;
    line-height: 2rem;
}

.aqua-color {
    color: var(--aqua);
}

.purple-color {
    color: var(--blue-purple);
}

.gray-color {
    color: var(--gray);
}

.section {
    width: 80%;
    margin: 2rem auto;
}

.bg-light-gray {
    background-color: var(--light-gray);
}

/*------------------------- RESPONSIVE ----------------------*/
/*------------------- SCREEN: MOBILE & TABLET ---------------*/

/*------------------------- HEADER --------------------------*/
.header {
    width: 100%;
    height: auto;
    overflow: hidden;
    color: var(--white);
}
  
.header-dark-bg {
    background-color: var(--dark-purple);
}

.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.overflow-menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 5rem;
    background-color: var(--dark-purple);
}

.close-icon {
    display: none;
}

.show-menu {
    transform: translateY(0);
}

.banner-carousel {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.banner-carousel-container .carousel-item {
    width: 100%;
    height: 30rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.no-webp .banner-1 {
    background-image: linear-gradient(rgba(54, 53, 79, 0.8), rgba(31, 31, 55, 0.8)),
        url("../img/banner1.png");
} 

.no-webp .banner-2 {
    background-image: linear-gradient(rgba(54, 53, 79, 0.8),
            rgba(31, 31, 55, 0.8)),
        url("../img/banner-2.png");
}

.webp .banner-1 {
    background-image: linear-gradient(rgba(54, 53, 79, 0.8), rgba(31, 31, 55, 0.8)),
        url("../img/banner1.webp");
} 

.webp .banner-2 {
    background-image: linear-gradient(rgba(54, 53, 79, 0.8),
            rgba(31, 31, 55, 0.8)),
        url("../img/banner-2.webp");
}

.nav {
    padding: 1rem;
}

.nav,
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-links {
    display: none;
}

.nav-link a {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-link a:hover {
    color: var(--aqua);
    transition: 0.3s;
}

/*------------------------- HEADER-HERO ---------------------*/
.hero {
    text-align: center;
    display: none;
}

.hero h1 {
    color: var(--light-gray);
    font-size: 2rem;
    margin-top: 1rem;
}

.hero p {
    color: var(--light-gray);
    font-size: 1rem;
}

/*------------------------- CALCULADORA ---------------------*/
.calculator {
    margin-bottom: 7rem;
    background-color: var(--white);
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.calculator-section {
    padding: 1rem 2rem;
}

.calculator-title {
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--dark-purple);
}

.calculator-inputs label {
    display: block;
    margin-top: 1.5rem;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: var(--purple);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background: var(--dark-purple);
    cursor: ew-resize;
    transition: background 0.3s ease-in-out;
}

.input-selector {
    width: 100%;
    padding: 0.7rem 1rem;
    background-color: var(--light-blue);
    border: 2px solid var(--aqua);
    border-radius: 10px;
    transition: all 150ms ease;
}

.calculator-result {
    background-color: var(--aqua);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0px 10px 10px;
}

.calculator-pay {
    font-size: 1.5em;
    margin: 0.5rem;
}

/*------------------------- PASOS ---------------------------*/
.steps {
    text-align: center;
}

.step-container {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: 2px solid var(--light-blue);
    border-radius: 10px;
}

.step-container p {
    color: var(--gray);
}

.step-container-img {
    width: 50%;
} 

.step-container:hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-5px);
    transition: 0.3s;
}

/*------------------------- PRESTAMO ------------------------*/
/*------------------------- REQUISITOS ----------------------*/
.loans-requirements h2 {
    margin-top: 5rem;
}

.loans-requirements li {
    margin: 2rem 0;
    font-weight: 600;
}

.loans img {
    width: 60%;
    margin: auto;
    display: block;
}

.requirements p {
    margin-left: 4rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray);
}

/*------------------------- COMUNIDAD -----------------------*/
.community,
.about-us,
.why-us {
    padding: 4rem 0;
    text-align: center;
}

.community-container {
    display: flex;
    overflow: auto;
    flex-flow: row nowrap;
    scroll-snap-type: x proximity;
}

.community-card {
    width: 100%;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--white);
    text-align: start;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scroll-snap-align: center;
    flex: none;
    position: relative;
    cursor: pointer;
}

.community-card h3 {
    margin: 1rem 0;
}

.community-card p {
    margin-top: 1rem;
    line-height: 2rem;
}

/*------------------------- QUIENES-SOMOS -------------------*/
.about-us img {
    width: 100%;
    height: auto;
}

/*------------------------- POR-QUE-NOSOTROS ----------------*/
.reason {
    margin: 2rem;
    align-items: center;
}

.reason-icon-container {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin: auto;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.reason-icon-container:hover {
    background-color: var(--aqua);
    transition: 0.3s;
}

/*------------------------- FOOTER --------------------------*/
.footer {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
}

.footer a {
    color: var(--white);
}

.footer li,
.footer h3 {
    margin: 1rem 0;
}

.footer-sections-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: start;
}

.footer-section {
    justify-self: stretch;
}

.footer-contact-links {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}

.footer-others-links {
    grid-column: 1;
    grid-row: 2;
}

.footer-sections-links {
    grid-column: 2;
    grid-row: 2;
}

.footer-media-links {
    grid-column: 1;
    grid-row: 3;
}

.footer-media-links ul{
    display: flex;
    gap: 10px;
}

.footer-section {
    margin: 1rem 0;
}

.footer-copyright {
    height: fit-content;
    padding: 1rem;
    background-color: #1f1f37;
    text-align: center;
}

.footer-icon {
    width: 1.5rem;
}

/*------------------------- AVISO-DE-PRIVACIDAD -------------*/
/*------------------------- FAQS ----------------------------*/
/*------------------------- TERMINOS-CONDICIONES ------------*/
.privacy-notice-header,
.terms-conditions-header,
.faqs-header {
    padding: 5rem 0;
    background-color: var(--light-blue);
}

.privacy-notice-title,
.terms-conditions-title,
.faqs-title {
    text-align: center;
    margin-top: 5rem;
}

.privacy-notice h2,
.terms-conditions h2 {
    margin: 1rem 0;
    font-weight: 400;
}

.faqs-question {
    margin: 3rem 0;
}

.faqs-question-text {
    padding: 1rem;
    font-weight: 700;
    background-color: var(--light-aqua);
    border: 2px solid var(--aqua);
    border-radius: 10px;
}

.faqs-question h2 {
    display: inline;
    font-size: 1.2rem;
}

.faqs-response {
    display: none;
    background-color: var(--white);
    border: 2px solid var(--light-gray);
    padding: 5rem 3rem;
    color: var(--gray);
}

.faqs-circle-icon {
    visibility: visible;
}

.faqs-minus-icon {
    visibility: visible;
}

.faqs-line-icon {
    visibility: hidden;
}

.display {
    display: block;
}

.visible {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.faqs-question-opened {
    margin-bottom: 5px;
    background-image: linear-gradient(var(--light-aqua), var(--white));
    border-bottom: 2px solid var(--white);
    border-radius: 10px 10px 0px 0px;
}

.faqs-question-text:hover {
    background-color: var(--aqua);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;
}

.faqs-question-opened:hover {
    border-top: 10px solid var(--aqua);
    color: var(--dark-purple);
    transition: 0.3s;
    cursor: pointer;
}

/*------------------------- BOTONES -------------------------*/
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn {
    height: fit-content;
    padding: 0.5rem;
    margin: 0 10px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.primary-btn {
    background-color: var(--aqua);
    color: var(--dark-purple);
    border: 2px solid var(--aqua);
}

.secondary-btn {
    color: var(--white);
    border: 2px solid var(--aqua);
}

.ternary-btn {
    width: 100%;
    margin: 10px;
    background-color: var(--dark-purple);
    color: var(--white);
}

.requirements .primary-btn {
    width: fit-content;
    margin: auto;
    display: block;
    padding: 0.5rem 5rem;
    font-size: 1.2rem;
}

.primary-btn:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: var(--white);
    text-decoration: none;
}

.secondary-btn:hover,
.ternary-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: var(--white);
    transition: 0.3s;
    text-decoration: none;
}

/*------------------------- ICONOS --------------------------*/
.nav-icon {
    height: 2rem;
    margin-left: 1rem;
}

.checkmark-icon,
.faqs-circle-icon,
.faqs-minus-icon {
    height: 1.2rem;
    margin-right: 0.5rem;
}

.requirement-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
}

.quote-icon {
    height: 1.5rem;
}

.reason-icon {
    height: 3rem;
}

.footer-icon {
    width: 1.5rem;
}

.nav-icon path {
    fill: var(--white);
}

.checkmark-icon path,
.requirement-icon path {
    fill: var(--blue-purple);
}

.reason-icon path,
.faqs-circle-icon path {
    fill: var(--dark-purple);
}

.footer-icon path,
.faqs-minus-icon {
    fill: var(--aqua);
}

.nav-icon path:hover {
    fill: var(--aqua);
    transition: 0.3s;
    cursor: pointer;
}

/*------------------------- ANIMACIONES ---------------------*/
.transition {
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 2s ease, transform 2s ease;
}

.zoom-transition {
    opacity: 1;
    transform: none;
}

/*------------------------- RESPONSIVE ----------------------*/

/*------------------------- SCREEN: DESKTOP -----------------*/
@media only screen and (min-width: 769px) {

    /*------------------------- HEADER-HERO ---------------------*/
    .hero {
        display: block;
        padding: 1rem;
    }

    /*------------------------- CALCULADORA ---------------------*/
    .calculator {
        display: flex;
    }

    .calculator-section {
        flex-grow: 1;
        padding: 2rem;
    }

    .calculator-inputs {
        text-align: start;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    .calculator-field {
        flex: 1 1 0;
        margin: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }


    .calculator-result {
        border-radius: 0 10px 10px 0;
    }

    .calculator-pay {
        font-size: 1.2em;
    }

    /*------------------------- PASOS ---------------------------*/
    .steps-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .step-container-img {
        width: 50%;
    }

    /*------------------------- PRESTAMO ------------------------*/
    /*------------------------- REQUISITOS ----------------------*/
    .loans img {
        width: 40%;
    }

    .loans-requirements {
        display: flex;
        gap: 10px;
    }

    .loans,
    .requirements {
        flex: 1 1 0;
    }

    /*------------------------- COMUNIDAD -----------------------*/
    .community-container {
        display: flex;
        flex-wrap: wrap;
    }

    .community-card {
        flex: 1 1 0;
    }

    /*------------------------- QUIENES-SOMOS -------------------*/
    .about-us {
        display: flex;
        padding-bottom: 7rem;
        text-align: start;
    }

    .about-us h3 {
        margin: 1rem 0;
    }

    .about-us img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    /*------------------------- POR-QUE-NOSOTROS ----------------*/
    .reasons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .reason {
        margin: 1rem;
        display: flex;
    }

    .reason-icon-container {
        width: 6rem;
        height: 6rem;
    }

    .reason-icon {
        height: 4rem;
    }

    /*------------------------- FOOTER --------------------------*/
    .footer-sections-container {
        padding: 3rem 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .footer-section {
        flex: 1 1 0;
        margin: 10px;
    }

    .footer-contact-links {
        text-align: start;
    }

    /*------------------------- AVISO-DE-PRIVACIDAD -------------*/
    /*------------------------- FAQS ----------------------------*/
    /*------------------------- TERMINOS-CONDICIONES ------------*/
    .privacy-notice-header,
    .terms-conditions-header,
    .faqs-header {
        padding: 10rem 0;
    }

    .privacy-notice-title,
    .terms-conditions-title,
    .faqs-title {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1025px) {

    /*------------------------- ESTILOS GLOBALES ----------------*/
    p,
    label,
    li,
    a {
        font-size: 1.2rem;
    }

    /*------------------------- HEADER --------------------------*/
    .nav-links {
        display: flex;
    }

    .menu-hamburger {
        display: none;
    }

    /*------------------------- HEADER-HERO ---------------------*/
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    /*------------------------- CALCULADORA ---------------------*/
    .calculator-title {
        margin: 0;
        font-size: 2.5rem;
    }

    .calculator-inputs label {
        margin: 0;
    }

    /*------------------------- ICONOS --------------------------*/
    .requirement-icon {
        width: 5rem;
        height: 5rem;
        margin-right: 10px;
    }
}

/*------------------------- SCREEN: LARGE DESKTOP -----------*/
@media only screen and (min-width: 1201px) {

    /*------------------------- ESTILOS GLOBALES ----------------*/
    h2 {
        font-size: 2.5rem;
    }

    .section {
        width: 70%;
        margin: 4rem auto;
    }

    /*------------------------- HEADER --------------------------*/
    .nav {
        padding: 2rem 7rem;
    }

    .nav,
    .nav-links {
        gap: 10px;
    }

    .nav-link a {
        font-size: 1.2rem;
    }

    /*------------------------- HEADER-HERO ---------------------*/
    .hero h1 {
        margin-bottom: 0;
        font-size: 4vw;
    }

    .banner-carousel-container .carousel-item {
        height: 40rem;
    }

    .hero-text-carousel .carousel-item p {
        font-size: 1.7rem;
    }

    /*------------------------- CALCULADORA ---------------------*/
    .forms {
        width: 60%;
    }

    .calculator-title {
        font-size: 3vw;
    }

    .calculator-pay {
        font-size: 2rem;
    }

    /*------------------------- PASOS ---------------------------*/
    .steps-container {
        display: flex;
        justify-content: stretch;
    }

    .step-container {
        flex: 1 1 0;
    }

    /*------------------------- BOTONES -------------------------*/
    .btn {
        padding: 0.5rem;
        font-size: 1rem;
        height: fit-content;
    }
}